@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(255, 242, 200);
}
section,
footer{
    padding:0px;
}
h3{
    font-size: 50px;
}
p{
    color: black;
}
.container{
    max-width: 1400px;
    /* o mesmo espaçamento da direita será o da esquerda por isso o 0: */
    margin: 0 auto; 
    padding: 0 5%;
}

header{
    background-position: center;
    /* o cover diz que a imagem terá que ocupar todo o header disponivel */
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    /* justify deixará todos os itens com a mesma distancia */
    justify-content: space-between;
    padding-top: 30px;
}
nav a img{
    height: 100px;
}

nav ul a{
    color: white;
    margin: 0 15px;
    /* uppercase deixa os textos em maiúsculo */
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

nav ul a::after{
    content: "" ;
    background-color: rgb(0, 255, 26);
    height: 1px;
    width: 0%;
    display: block;
    transition: 0.3s;
}
 
nav ul a:hover::after{
    width: 100%;
}

/* caso eu não quisesse a animação em algum item do nav, eu poderia fazer da seguinte forma: Colocando o not depois do "a", mas colocando o nome da tag antes
nav ul a:not(.botao)::after{
    content: "" ;
    background-color: red;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
} */

.banner {
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 54px 0px 250px 0px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text h3{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    margin: 18px 0;
}
/* História */
.petatlo-historia{
    width: 70%;
    text-align: justify;
    /* background-color: aqua; */
    margin: auto;
}
.petatlo-historia h3{
    text-align: center;
    background-color: rgba(0, 153, 255, 0.209);
    border-radius:  4px;
}
/* noticias */

.noticias{
    text-align: center;
    display: flex;
}
.petatlo-noticia{
    width: 70%;
    margin: auto;
}
.petatlo-noticia img{
    width: 220px;
}
.petatlo-noticia h3{
    background-color: rgba(0, 153, 255, 0.209);
    margin-bottom: 10px ;
}
.petatlo-noticia a{
   text-align: center;
}

/*  MODALIDADES */
.modalidade-1 .box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-1{
    background-color: rgba(0, 149, 255, 0.343);
    /* border: 2px solid black; */
    margin: 30px;
    padding: 30px;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    border-radius: 10px;
    width: 70%;
}
.color-1 .modalidade-texto h3{
    padding: 30px 0px 10px 0px;
    text-align: justify;
}
.modalildade .modalidade-texto{
    padding: 0 40px;
}
.modalildade .modalidade-texto h3{
    padding: 50px;
    font-size: 56px;
}
.modalildade .modalidade-texto p{
    margin: 5px 0 10px 0;
}
.modalildade .modalidade-imagem{
    width: 50%;
}

.modalidade-imagem img{
    width: 350px;
    height: 250px;
}

.btn{
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    margin: 30px 0px;
}
.btn:hover{
    background-color: rgb(0, 0, 128);
}

/* medalhistas: */
.medalistas{
    text-align: center;
    margin: auto;
} 
/* INTEGRANTES: */
.integrantes{
    background-color: rgb(197, 175, 124);
}
.integrantes h3{
    text-align: center;
    padding-top: 20px;
}
.integrantes p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
.integrantes .card-item{
    background-color: aliceblue;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 400px;
}
.integrantes .card-item img{
    /* border-radius: 100%; */
    width: 300px ;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}
.integrantes .card-item .nome-user{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    transition: 0.10s;
}
.integrantes .card-item .integrantes-bio{
    font-size: 14px;
    padding: 0 15px;
    transition: 0.10s;
}
.integrantes .card-item:hover{
    background-color: rgba(0, 162, 255, 0.37);
    margin-top: -5px;
    transition: 0.7s;
}
.integrantes .card-item:hover .nome-user,
.integrantes .card-item:hover .integrantes-bio{
    color: white;
}

/* SOBRE O TRABALHO: */
.sobre-o-trabalho{
    text-align: center;
    margin: auto;
}
.petatlo-sobre{
    width: 70%;
    margin: auto;
    text-align: justify;
}
.petatlo-sobre h3{
    margin: 20px 0px;
    text-align: center;
    background-color:  rgba(0, 153, 255, 0.209);
}
/* FOOTER: */
footer{
    margin-top: 40px;
    height: auto;
    background-color: rgba(42, 42, 42, 0.71);
    text-align: center;
}
footer .container{
    display: flex;
    justify-content:center;
}
footer .links{
    padding: 50px;
}
footer img{
    margin: 30px;
    width: 280px;
}
footer i{
    color: white;
    font-size: 23px;
    /* background-color: aquamarine; */
    padding: 10px;
    margin: 10px 0px 2px 0px;
    border-radius: 5px;
}
footer p{
    color: white;
    padding-bottom: 10px ;
}